:root{
    --bg: #0a1428;
    --ponk: #be4b34;
    --lg: #16eac9;
    --fc:#879699;
    --white: #fff;
}

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito sans, sans-serif;
}

body{
    display: flex;
    background-image: url(/assets/m-blog-2.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
}
.container span{
    position: absolute;
    left: 420px;
    width: 30px;
    height: 5px;
    border-radius: 8px;
    background: var(--fc);
    transform: scale(2) rotate(calc((360deg/50) * var(--i)));
    transform-origin: 150px;
    animation: loading 3s linear infinite alternate;
    animation-delay: calc((3s / 50) * var(--i));
}
@keyframes loading{
    0% {
        background: var(--ponk);
    }
    25%{
        background: var(--lg);
    }
    50%{
        background: var(--fc);
    }
}

.form-container{
    width: 400px;
    position: absolute;
}


.form-container h1{
    color: var(--lg);
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin-block-end: 32px;
}

.form-container .form-group{
    margin-block-end: 32px;
    position: relative;
}
.form-group input{
    padding: 16px 8px;
    width: 100%;
    height: 48px;
    background-color:transparent ;
    border: 2px solid var(--fc);
    border-radius: 50px;
    color: var(--lg);
    outline: none;
    font-size: 16px;
    font-weight: 900;
    transition: .3s ease-in-out;
}

.form-group input:focus,
.form-group input:valid{
    border-color: var(--lg);
}

.form-group label{
    position: absolute;
    color: var(--lg);
    top: 50%;
    left: 20px;
    padding: 0 8px;
    font-weight: 700;
    color: var(--lg);
    transform:translateY(-50%);
    pointer-events: none;

}

.form-group input:focus~label,
.form-group input:valid~label{
    top: 1px;
    color: var(--lg);
    padding: 2px 8px;
    background: var(--bg);
}
button{
    width: 100%;
    height: 48px;
    padding: 8px 16px;  
    color: var(--white);
    background: var(--lg);
    outline: none;
    font-weight: 700;
    font-size: 16px;
    margin-block: 20px;
    border: 0;
    border-radius: 50px;
}
.fgpwd,
.register{
    text-align: center;
}

.fgpwd a,
.register a{
    color: var(--fc);
    font-weight: 700;
    text-decoration: none;
}
.fgpwd a:hover,
.register a:hover{
    text-decoration: underline;
    color: var(--ponk);
}